*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

#loader{
  position:fixed;
  inset:0;
  background:#000;
  color:white;
  display:flex;
  align-items:center;
  justify-content:center;
  font-family:Arial;
  font-size:28px;
  z-index:1000;
}

#progress{
  text-align:center;
}
