*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: -1;
}
.lil-gui {
  background: #1e1e1e !important;
  color: #fff;
}

.lil-gui .title {
  background: #2a2a2a !important;
}

.lil-gui .children {
  background: #1e1e1e !important;
}

#loader{
  position:fixed;
  inset:0;
  background:#000;
  color:white;
  display:flex;
  align-items:center;
  justify-content:center;
  font-family:Arial;
  font-size:28px;
  z-index:1000;
}

#progress{
  text-align:center;
}
